name: (dev)Deploy To Cloudflare

on:
  pull_request:
    branches:
      - main

jobs:
  cicd:
    uses: mss-boot-io/mss-boot-admin-antd/.github/workflows/cf.yml@main
    with:
      env: alpha
    secrets: 
      CF_API_TOKEN: ${{ secrets.CF_API_TOKEN }}
