name: (beta)Deploy To Cloudflare

on:
  push:
    branches:
      - main
      - fix/workflow

jobs:
  cicd:
    uses: mss-boot-io/mss-boot-admin-antd/.github/workflows/cf.yml@fix/workflow
    with:
      env: beta
    secrets:
      CF_API_TOKEN: ${{ secrets.CF_API_TOKEN }}
