name: Deploy To Cloudflare

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 8
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: pnpm

      - name: Install Dependencies
        run: pnpm install

      - name: Build
        run: pnpm build
        env:
          REACT_APP_API_HOST: https://admin-api.mss-boot-io.top

      - name: Install Dependencies for Workers Site
        working-directory: ./workers-site
        run: pnpm install

      - name: fix route
        run: |
          cp dist/index.html dist/404.html
          cp -r workers-site dist/

      - name: Package Dist
        run: tar -czvf dist.tar.gz dist

      - name: Upload Artifact
        uses: actions/upload-artifact@v3
        with:
          name: dist
          path: dist.tar.gz
          retention-days: 3

  deployment:
    runs-on: ubuntu-latest
    needs: build
    name: deployment
    environment: prod
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Download Artifact
        uses: actions/download-artifact@v3
        with:
          name: dist

      - name: Unpack Artifact
        run: tar -xzvf dist.tar.gz

      - name: deploy prod
        uses: cloudflare/wrangler-action@1.3.0
        env:
          USER: root
        with:
          apiToken: ${{ secrets.cf_api_token }}
          environment: prod